@font-face {
    font-family: 'Avenir Next Bold';
    src: url('AvenirNextLTPro-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Regular';
    src: url('AvenirNextLTPro-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}