.detailcard_container {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  gap: 8px;

  p {
    max-width: 100%;
  }

  p:first-child {
    margin: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #545F7D;
  }

  p:last-child {font-weight: 500;
    margin: 0;
    font-size: 16px;
    line-height: 19px;
    color: #545F7D;
    // word-wrap: break-word;
    word-break: break-word;
  }
}