@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap');

.app_container {
  font-family: "Work Sans", sans-serif;
  box-sizing: border-box;
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;  

  .outlet {
    flex: 1;
    height: 90vh;
    overflow-y: scroll;
    background-color: #e5e5e546;
  }
}