
.users_container {
  // background-color: #e5e5e546;
  min-height: calc(90vh - 40px);
  padding: 60px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;

  .filterdropdown_container {
    display: none;
  }

  h1 {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #213F7D;
  }

  .cards_container {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    gap: 26px;
  }

  .cards_container::-webkit-scrollbar {
    height: 3px;
  }

  .cards_container::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border-radius: 20px;
    margin: 3px;
    width: 10px;
  }
}

.table_container {
  padding: 30px;
  background-color: white;
  border: 1px solid rgba(33, 63, 125, 0.06);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  overflow-x: scroll;

  table {
    border-collapse: collapse;
    width: 100%;

    th {
      padding: 10px clamp(15px, 1vw, 40px);
    }

    th div {
      display: flex;
      align-items: flex-start;
      gap: 10px;

      p {
        margin: 0;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 12px;
        line-height: 14px;
        color: #545F7D;
      }
    }

    tbody tr {
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: #545F7D;

      td {
        padding: 20px 15px;
        white-space: nowrap;

        span {
          padding: 6.5px 16px;
          max-width: 100px;
          height: 30px;
          line-height: 16px;
          border-radius: 100px;
          text-transform: capitalize;
        }
      }

      .inactive {
        color: rgba(84, 95, 125, 1);
        background-color: rgba(84, 95, 125, 0.06);
      }

      .pending {
        color: rgba(233, 178, 0, 1);
        background-color: rgba(233, 178, 0, 0.06);
      }

      .active {
        color: rgba(57, 205, 98, 1);
        background-color: rgba(57, 205, 98, 0.06);
      }

      .blacklisted {
        color: rgba(228, 3, 59, 1);
        background-color: rgba(228, 3, 59, 0.06);
      }
    }

    tbody tr:not(tr:last-of-type) {
      border-bottom: 1px solid rgba(33, 63, 125, 0.1);
    }
  }
}

.table_container::-webkit-scrollbar {
  height: 3px;
}

.table_container::-webkit-scrollbar-thumb {
  background-color: lightgray;
  border-radius: 20px;
  margin: 3px;
  width: 10px;
}
