
.users_container {
  // background-color: #e5e5e546;
  min-height: calc(90vh - 40px);
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;

  @media (min-width: 768px) {
    padding: 30px;
  }

  @media (min-width: 1024px) {
    padding: 60px;
  }

  .filterdropdown_container {
    display: none;
  }

  h1 {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #213F7D;
  }

  .cards_container {
    display: grid;
    grid-template-columns: repeat(1, minmax(128px, auto));
    grid-template-rows: repeat(auto-fit, auto);
    column-gap: 26px;
    row-gap: 30px;
    width: auto;

    >{
      div {
        align-items: center;
      }
    }

    @media (min-width: 768px) {
      grid-template-columns: repeat(2, minmax(128px, auto));
    }

    @media (min-width: 1280px) {
      grid-template-columns: repeat(4, minmax(128px, auto));

      >{
        div {
          align-items: flex-start;
        }
      }
    }
  }

  .cards_container::-webkit-scrollbar {
    height: 3px;
  }

  .cards_container::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border-radius: 20px;
    margin: 3px;
    width: 10px;
  }
}

.table_container {
  padding: 30px;
  background-color: white;
  border: 1px solid rgba(33, 63, 125, 0.06);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  overflow-x: scroll;

  table {
    border-collapse: collapse;
    width: 100%;

    th {
      padding: 10px clamp(15px, 1vw, 40px);
    }

    th div {
      display: flex;
      align-items: flex-start;
      gap: 10px;

      p {
        margin: 0;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 12px;
        line-height: 14px;
        color: #545F7D;
      }

      p,img {
        cursor: pointer;
      }
    }

    tbody tr {
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: #545F7D;

      td {
        padding: 20px 15px;
        white-space: nowrap;

        span {
          padding: 6.5px 16px;
          max-width: 100px;
          height: 30px;
          line-height: 16px;
          border-radius: 100px;
          text-transform: capitalize;
        }
      }

      td:last-child {
        img{
          cursor: pointer;
        }
      }
    }

    tbody tr:not(tr:last-of-type) {
      border-bottom: 1px solid rgba(33, 63, 125, 0.1);
    }
  }
}

.table_container::-webkit-scrollbar {
  height: 3px;
}

.table_container::-webkit-scrollbar-thumb {
  background-color: lightgray;
  border-radius: 20px;
  margin: 3px;
  width: 10px;
}

.paginationcontainer_div {
  display: flex;
  justify-content: space-between;

  @media (max-width:768px) {
    flex-direction: column;
    align-items: center;
  }

  >{
    div:first-child p {
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: #545F7D;

      span {
        background: rgba(33, 63, 125, 0.1);
        border-radius: 4px;
        display: inline-flex;
        align-items: center;
        gap: 20px;
        padding: 7px 12px;
      }
    }

    div:last-child {
      display: flex;
    }
  }
}

.paginate_container {
  display: flex;
  justify-content: space-between;
  width: 262px;
  margin: 0;
  padding: 0;

  li {
    list-style: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #545F7D;
    opacity: 0.6;
  }

  .paginate_next, .paginate_previous {
    position: relative;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(33, 63, 125, 0.1);
    border-radius: 4px;
    opacity: 0.6;
  }

  .paginate_next a {
    content: url("./assets/paginate_next.svg");
  }

  .paginate_previous a {
    content: url("./assets/paginate_next.svg");
    transform: rotate(-180deg);
  }

  .paginate_active {
    font-weight: 500;
    opacity: 1;
  }
}
